<h1>Router Guards Example</h1>
<ul>
  <li>
    <a routerLink="/">Root</a>
  </li>
  <li>
    <a routerLink="/home">Home</a>
  </li>
  <li>
    <a routerLink="/list">List (must login)</a>
  </li>
  <li>
    <a routerLink="/detail">Detail (must login)</a>
  </li>
  <li>
    <a routerLink="/login">Login</a>
  </li>
  <li>
    <a routerLink="/admin">Admin (role: admin)</a>
    <ul>
      <li>
        <a routerLink="/admin/dashboard">Dashboard (role: admin)</a>
      </li>
      <li>
        <a routerLink="/admin/create">Create (role: admin)</a>
      </li>
    </ul>
  </li>
  <li>
    <a routerLink="/logout">Log out (must login)</a>
  </li>
  <li>
    <a routerLink="/not-found">Not found</a>
  </li>
</ul>

<router-outlet></router-outlet>
